body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 90%;
}

button, .btn {
  background: #22c55e;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}
